- name: Download and extract archive
  hosts: ubuntusrvs


  tasks:
    - name: Create directory for extraction
      file:
        path: "/home/mra/ansible/kafka"
        state: directory
        mode: '0755'
        
    - name: Download archive
      get_url:
        url: "https://dlcdn.apache.org/kafka/4.1.1/kafka-4.1.1-src.tgz"
        dest: "/home/mra/ansible/kafka.tgz"
        mode: '0755'

    - name: Extract archive
      unarchive:
        src: "/home/mra/ansible/kafka.tgz"
        dest: "/home/mra/ansible/kafka"
        remote_src: yes
